In [1]:
import pandas as pd

In [2]:
train=pd.read_csv("Downloads/train_AV.csv")

In [3]:
train.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0

In [4]:
missing_values=train.isnull().sum()

In [5]:
missing_values

id                       0
gender                   0
age                      0
hypertension             0
heart_disease            0
ever_married             0
work_type                0
Residence_type           0
avg_glucose_level        0
bmi                   1462
smoking_status       13292
stroke                   0
dtype: int64

In [6]:
train.shape

(43400, 12)

In [7]:
train.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,43400.000000,43400.000000,43400.000000,43400.000000,43400.000000,41938.000000,43400.000000
mean,36326.142350,42.217894,0.093571,0.047512,104.482750,28.605038,0.018041
std,21072.134879,22.519649,0.291235,0.212733,43.111751,7.770020,0.133103
min,1.000000,0.080000,0.000000,0.000000,55.000000,10.100000,0.000000
25%,18038.500000,24.000000,0.000000,0.000000,77.540000,23.200000,0.000000
50%,36351.500000,44.000000,0.000000,0.000000,91.580000,27.700000,0.000000
75%,54514.250000,60.000000,0.000000,0.000000,112.070000,32.900000,0.000000
max,72943.000000,82.000000,1.000000,1.000000,291.050000,97.600000,1.000000

In [8]:
train['bmi'].fillna((train['bmi'].mean()), inplace=True)

In [9]:
train.isnull().sum()

id                       0
gender                   0
age                      0
hypertension             0
heart_disease            0
ever_married             0
work_type                0
Residence_type           0
avg_glucose_level        0
bmi                      0
smoking_status       13292
stroke                   0
dtype: int64

In [10]:
train.loc[ train['age'] <= 25.0, 'age'] = 0
train.loc[(train['age'] > 25.0) & (train['age'] <= 50.0), 'age'] = 1
train.loc[(train['age'] > 50.0) & (train['age'] <= 75.0), 'age'] = 2
train.loc[ train['age'] > 75.0, 'age'] = 3

In [11]:
train.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,0.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,2.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,0.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,2.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,0.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0

In [67]:
genderes = sorted(train['gender'].unique())
genders_mapping = dict(zip(genderes, range(0, len(genderes) + 1)))
train['gender'] = train['gender'].map(genders_mapping).astype(int)

In [14]:
train.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,1,0.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,1,2.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,0,0.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,0,2.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,1,0.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0

In [15]:
Residence_typees = sorted(train['Residence_type'].unique())
Residence_types_mapping = dict(zip(Residence_typees, range(0, len(Residence_typees) + 1)))
train['Residence_type'] = train['Residence_type'].map(Residence_types_mapping).astype(int)

In [16]:
train.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,1,0.0,0,0,No,children,0,95.12,18.0,NaN,0
1,30468,1,2.0,1,0,Yes,Private,1,87.96,39.2,never smoked,0
2,16523,0,0.0,0,0,No,Private,1,110.89,17.6,NaN,0
3,56543,0,2.0,0,0,Yes,Private,0,69.04,35.9,formerly smoked,0
4,46136,1,0.0,0,0,No,Never_worked,0,161.28,19.1,NaN,0

In [18]:
train['work_type'].describe()

count       43400
unique          5
top       Private
freq        24834
Name: work_type, dtype: object

In [19]:
work_typees = sorted(train['work_type'].unique())
work_types_mapping = dict(zip(work_typees, range(0, len(work_typees) + 1)))
train['work_type'] = train['work_type'].map(work_types_mapping).astype(int)

In [20]:
train.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,1,0.0,0,0,No,4,0,95.12,18.0,NaN,0
1,30468,1,2.0,1,0,Yes,2,1,87.96,39.2,never smoked,0
2,16523,0,0.0,0,0,No,2,1,110.89,17.6,NaN,0
3,56543,0,2.0,0,0,Yes,2,0,69.04,35.9,formerly smoked,0
4,46136,1,0.0,0,0,No,1,0,161.28,19.1,NaN,0

In [22]:
train['avg_glucose_level'].describe()

count    43400.000000
mean       104.482750
std         43.111751
min         55.000000
25%         77.540000
50%         91.580000
75%        112.070000
max        291.050000
Name: avg_glucose_level, dtype: float64

In [23]:
ever_marriedes = sorted(train['ever_married'].unique())
ever_marrieds_mapping = dict(zip(ever_marriedes, range(0, len(ever_marriedes) + 1)))
train['ever_married'] = train['ever_married'].map(ever_marrieds_mapping).astype(int)

In [24]:
train.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,1,0.0,0,0,0,4,0,95.12,18.0,NaN,0
1,30468,1,2.0,1,0,1,2,1,87.96,39.2,never smoked,0
2,16523,0,0.0,0,0,0,2,1,110.89,17.6,NaN,0
3,56543,0,2.0,0,0,1,2,0,69.04,35.9,formerly smoked,0
4,46136,1,0.0,0,0,0,1,0,161.28,19.1,NaN,0

In [26]:
train['smoking_status'].describe()

count            30108
unique               3
top       never smoked
freq             16053
Name: smoking_status, dtype: object

In [32]:
train['smoking_status'].fillna((train['smoking_status'].mode()),inplace=True)

In [33]:
train['smoking_status'].describe()

count            30109
unique               3
top       never smoked
freq             16054
Name: smoking_status, dtype: object

In [34]:
train['smoking_status'].isnull().sum()

13291

In [35]:
train.isnull().sum()

id                       0
gender                   0
age                      0
hypertension             0
heart_disease            0
ever_married             0
work_type                0
Residence_type           0
avg_glucose_level        0
bmi                      0
smoking_status       13291
stroke                   0
dtype: int64

In [36]:
train['smoking_status'].mode()

0    never smoked
dtype: object

In [39]:
train['smoking_status'].fillna((train['smoking_status'].mode()[0]), inplace=True)

In [40]:
train.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [41]:
train.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,1,0.0,0,0,0,4,0,95.12,18.0,never smoked,0
1,30468,1,2.0,1,0,1,2,1,87.96,39.2,never smoked,0
2,16523,0,0.0,0,0,0,2,1,110.89,17.6,never smoked,0
3,56543,0,2.0,0,0,1,2,0,69.04,35.9,formerly smoked,0
4,46136,1,0.0,0,0,0,1,0,161.28,19.1,never smoked,0

In [42]:
smoking_statuses = sorted(train['smoking_status'].unique())
smoking_statuss_mapping = dict(zip(smoking_statuses, range(0, len(smoking_statuses) + 1)))
train['smoking_status'] = train['smoking_status'].map(smoking_statuss_mapping).astype(int)

In [43]:
train.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,1,0.0,0,0,0,4,0,95.12,18.0,1,0
1,30468,1,2.0,1,0,1,2,1,87.96,39.2,1,0
2,16523,0,0.0,0,0,0,2,1,110.89,17.6,1,0
3,56543,0,2.0,0,0,1,2,0,69.04,35.9,0,0
4,46136,1,0.0,0,0,0,1,0,161.28,19.1,1,0

In [44]:
train['bmi'].describe()

count    43400.000000
mean        28.605038
std          7.638023
min         10.100000
25%         23.400000
50%         28.100000
75%         32.600000
max         97.600000
Name: bmi, dtype: float64

In [45]:
train.loc[ train['bmi'] <= 25.0, 'bmi'] = 0
train.loc[(train['bmi'] > 25.0) & (train['bmi'] <= 50.0), 'bmi'] = 1
train.loc[(train['bmi'] > 50.0) & (train['bmi'] <= 75.0), 'bmi'] = 2
train.loc[ train['bmi'] > 75.0, 'bmi'] = 3

In [46]:
train.loc[ train['avg_glucose_level'] <= 90, 'avg_glucose_level'] = 0
train.loc[(train['avg_glucose_level'] > 90) & (train['avg_glucose_level'] <= 150), 'avg_glucose_level'] = 1
train.loc[(train['avg_glucose_level'] > 150) & (train['avg_glucose_level'] <= 210), 'avg_glucose_level'] = 2
train.loc[ train['avg_glucose_level'] > 210, 'avg_glucose_level'] = 3

In [47]:
train.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,1,0.0,0,0,0,4,0,1.0,0.0,1,0
1,30468,1,2.0,1,0,1,2,1,0.0,1.0,1,0
2,16523,0,0.0,0,0,0,2,1,1.0,0.0,1,0
3,56543,0,2.0,0,0,1,2,0,0.0,1.0,0,0
4,46136,1,0.0,0,0,0,1,0,2.0,0.0,1,0

In [48]:
from sklearn.ensemble import RandomForestClassifier

In [49]:
random_forest= RandomForestClassifier(n_estimators=100)

In [50]:

# Seems like our dataset is good to go :P
X_train= train.drop("stroke", axis=1)
Y_train = train['stroke']

In [51]:
random_forest.fit(X_train, Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [52]:
random_forest.score(X_train, Y_train)

0.9999769585253456

In [53]:
test=pd.read_csv("Downloads/test_AV.csv")

In [54]:
test.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,36306,Male,80.0,0,0,Yes,Private,Urban,83.84,21.1,formerly smoked
1,61829,Female,74.0,0,1,Yes,Self-employed,Rural,179.50,26.0,formerly smoked
2,14152,Female,14.0,0,0,No,children,Rural,95.16,21.2,NaN
3,12997,Male,28.0,0,0,No,Private,Urban,94.76,23.4,NaN
4,40801,Female,63.0,0,0,Yes,Govt_job,Rural,83.57,27.6,never smoked

In [55]:
test.isnull().sum()

id                      0
gender                  0
age                     0
hypertension            0
heart_disease           0
ever_married            0
work_type               0
Residence_type          0
avg_glucose_level       0
bmi                   591
smoking_status       5751
dtype: int64

In [56]:
test['bmi'].fillna((test['bmi'].mean()), inplace=True)

In [57]:
test.loc[ test['bmi'] <= 25.0, 'bmi'] = 0
test.loc[(test['bmi'] > 25.0) & (test['bmi'] <= 50.0), 'bmi'] = 1
test.loc[(test['bmi'] > 50.0) & (test['bmi'] <= 75.0), 'bmi'] = 2
test.loc[ test['bmi'] > 75.0, 'bmi'] = 3

In [58]:
test.loc[ test['avg_glucose_level'] <= 90, 'avg_glucose_level'] = 0
test.loc[(test['avg_glucose_level'] > 90) & (test['avg_glucose_level'] <= 150), 'avg_glucose_level'] = 1
test.loc[(test['avg_glucose_level'] > 150) & (test['avg_glucose_level'] <= 210), 'avg_glucose_level'] = 2
test.loc[ test['avg_glucose_level'] > 210, 'avg_glucose_level'] = 3

In [60]:
test['smoking_status'].fillna((test['smoking_status'].mode()[0]), inplace=True)

In [61]:
test['smoking_status'] = test['smoking_status'].map(smoking_statuss_mapping).astype(int)

In [62]:
test['ever_married'] = test['ever_married'].map(ever_marrieds_mapping).astype(int)

In [63]:
test['work_type'] = test['work_type'].map(work_types_mapping).astype(int)

In [65]:
test['Residence_type'] = test['Residence_type'].map(Residence_types_mapping).astype(int)

In [69]:
test.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,36306,Male,80.0,0,0,1,2,1,0.0,0.0,0
1,61829,Female,74.0,0,1,1,3,0,2.0,1.0,0
2,14152,Female,14.0,0,0,0,4,0,1.0,0.0,1
3,12997,Male,28.0,0,0,0,2,1,1.0,0.0,1
4,40801,Female,63.0,0,0,1,0,0,0.0,1.0,1

In [70]:
test['gender'].describe()

count      18601
unique         3
top       Female
freq       10957
Name: gender, dtype: object

In [71]:

test.loc[ test['age'] <= 25.0, 'age'] = 0
test.loc[(test['age'] > 25.0) & (test['age'] <= 50.0), 'age'] = 1
test.loc[(test['age'] > 50.0) & (test['age'] <= 75.0), 'age'] = 2
test.loc[ test['age'] > 75.0, 'age'] = 3

In [72]:
genderes = sorted(test['gender'].unique())
genders_mapping = dict(zip(genderes, range(0, len(genderes) + 1)))
test['gender'] = test['gender'].map(genders_mapping).astype(int)

In [73]:
test.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,36306,1,3.0,0,0,1,2,1,0.0,0.0,0
1,61829,0,2.0,0,1,1,3,0,2.0,1.0,0
2,14152,0,0.0,0,0,0,4,0,1.0,0.0,1
3,12997,1,1.0,0,0,0,2,1,1.0,0.0,1
4,40801,0,2.0,0,0,1,0,0,0.0,1.0,1

In [74]:
X_test= test

In [75]:
Y_pred_rf =random_forest.predict(X_test)

In [80]:
Y_pred_rf.shape

(18601,)

In [82]:
submission = pd.DataFrame({
        "id": test["id"],
        "stroke": Y_pred_rf
    })
submission.to_csv('MCS.csv', index=False)

In [83]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 3)

knn.fit(X_train, Y_train)

Y_pred_KNN = knn.predict(X_test)

knn.score(X_train, Y_train)

0.982442396313364

In [88]:
submission = pd.DataFrame({
        "id": test["id"],
        "stroke": Y_pred_KNN
    })
submission.to_csv('MCS_KNN.csv', index=False)