In [337]:
from sklearn import linear_model
import pandas as pd
import numpy as np
import sklearn
from sklearn.tree import DecisionTreeRegressor
from sklearn.datasets import make_regression
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import GridSearchCV
from sklearn import preprocessing
from sklearn.metrics import r2_score
from sklearn.metrics import make_scorer

In [338]:
from sklearn import metrics
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [339]:
import math

In [340]:
train=pd.read_csv("/Users/saikrishna/Downloads/Solar/Task 1/predictors1_H.csv")
train.head()

,ZONEID,TIMESTAMP,Hour,VAR78,VAR79,VAR134,VAR157,VAR164,VAR165,VAR166,VAR167,VAR169,VAR175,VAR178,VAR228
0,1,20120401 01:00,1,0.001967,0.003609,94843.6250,60.221909,0.244601,1.039334,-2.503039,294.448486,2577830.0,1202532.0,2861797.0,0.000000
1,1,20120401 02:00,2,0.005524,0.033575,94757.9375,54.678604,0.457138,2.482865,-2.993330,295.651367,5356093.0,2446757.0,5949378.0,0.000000
2,1,20120401 03:00,3,0.030113,0.132009,94732.8125,61.294891,0.771429,3.339867,-1.982535,294.454590,7921788.0,3681336.0,8939176.0,0.001341
3,1,20120401 04:00,4,0.057167,0.110645,94704.0625,67.775284,0.965866,3.106102,-1.446051,293.261475,9860520.0,4921504.0,11331679.0,0.002501
4,1,20120401 05:00,5,0.051027,0.189560,94675.0000,70.172989,0.944669,2.601146,-1.904493,292.732910,11143097.0,6254380.0,13105558.0,0.003331

In [341]:
train.shape

(26280, 15)

In [342]:
X_train=train.drop(['ZONEID','TIMESTAMP'], axis=1)
X_train.head()

,Hour,VAR78,VAR79,VAR134,VAR157,VAR164,VAR165,VAR166,VAR167,VAR169,VAR175,VAR178,VAR228
0,1,0.001967,0.003609,94843.6250,60.221909,0.244601,1.039334,-2.503039,294.448486,2577830.0,1202532.0,2861797.0,0.000000
1,2,0.005524,0.033575,94757.9375,54.678604,0.457138,2.482865,-2.993330,295.651367,5356093.0,2446757.0,5949378.0,0.000000
2,3,0.030113,0.132009,94732.8125,61.294891,0.771429,3.339867,-1.982535,294.454590,7921788.0,3681336.0,8939176.0,0.001341
3,4,0.057167,0.110645,94704.0625,67.775284,0.965866,3.106102,-1.446051,293.261475,9860520.0,4921504.0,11331679.0,0.002501
4,5,0.051027,0.189560,94675.0000,70.172989,0.944669,2.601146,-1.904493,292.732910,11143097.0,6254380.0,13105558.0,0.003331

In [343]:
X_train.shape

(26280, 13)

In [344]:
train2=pd.read_csv("/Users/saikrishna/Downloads/Solar/Task 1/train1.csv")
Y_train=train2.drop(['ZONEID','TIMESTAMP'],axis=1)

In [345]:
Y_train.head()

      POWER
0  0.754103
1  0.555000
2  0.438397
3  0.145449
4  0.111987

In [346]:
scoring = make_scorer(r2_score)

In [347]:
# pipeline = make_pipeline(preprocessing.StandardScaler(), DecisionTreeRegressor(min_samples_split=9)
# hyperparameters = { 'DecisionTreeRegressor__max_features' : ['auto', 'sqrt', 'log2'],'DecisionTreeRegressor__max_depth': [None, 5, 3, 1]}
# clf = GridSearchCV(pipeline, hyperparameters, cv=10)
g_cv = GridSearchCV(DecisionTreeRegressor(random_state=0),
              param_grid={'min_samples_split': range(2, 10)},
              scoring=scoring, cv=5, refit=True)

In [348]:
g_cv.fit(X_train, Y_train)

GridSearchCV(cv=5, error_score='raise',
       estimator=DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=0, splitter='best'),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'min_samples_split': range(2, 10)},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=make_scorer(r2_score), verbose=0)

In [320]:
g_cv.best_params_

{'min_samples_split': 9}

In [297]:
reg = DecisionTreeRegressor(max_depth=5)

In [298]:
reg.fit(X_train, Y_train)

DecisionTreeRegressor(criterion='mse', max_depth=5, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [299]:
reg = linear_model.Ridge(alpha=0.1)

In [300]:
reg.fit(X_train,Y_train)

Ridge(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [349]:
test=pd.read_csv("/Users/saikrishna/Downloads/Solar/Task 1/April2013Inputs.csv")
test.head()
X_test=test.drop(['ZONEID','TIMESTAMP'], axis=1)
X_test.head()

,Hour,VAR78,VAR79,VAR134,VAR157,VAR164,VAR165,VAR166,VAR167,VAR169,VAR175,VAR178,VAR228
0,1,0.000763,0.0,94776.6875,48.756729,0.021912,3.282763,-1.563320,291.282471,2650028.0,1095673.0,2849846,0.0
1,2,0.000584,0.0,94713.4375,43.934814,0.012665,3.968341,-1.725616,292.723389,5591490.0,2206098.0,5985933,0.0
2,3,0.003244,0.0,94651.1875,41.285858,0.072473,4.458328,-1.365808,293.037598,8527615.0,3315076.0,9138981,0.0
3,4,0.001301,0.0,94599.4375,40.435791,0.051194,4.532656,-0.913233,293.414795,11273198.0,4428271.0,12095657,0.0
4,5,0.000977,0.0,94569.8125,40.117920,0.055176,4.413027,-0.757091,293.176269,13472754.0,5578156.0,14526557,0.0

In [350]:
test2=pd.read_csv("/Users/saikrishna/Downloads/Solar/Task 1/April2013outputs.csv")
test2.head()
Y_test=test2.drop(['ZONEID','Timestamp'],axis=1)
Y_test.head()

      Power
0  0.813846
1  0.761795
2  0.736538
3  0.643590
4  0.470769

In [351]:
X_test.shape

(2160, 13)

In [352]:
Y_test.shape

(2160, 1)

In [353]:
mse = mean_squared_error(Y_test, g_cv.best_estimator_.predict(X_test))

In [354]:
rmse=math.sqrt(mse)
rmse

0.11912899064029588

In [355]:
mean_absolute_error(Y_test, g_cv.best_estimator_.predict(X_test))

0.058201619967404458

In [305]:
mse = mean_squared_error(Y_test, reg.predict(X_test))

In [306]:
mse

0.033818885957162266

In [307]:
rmse=math.sqrt(mse)
rmse

0.18389911896787942

In [296]:
mean_absolute_error(Y_test, reg.predict(X_test))

0.15155609682904289

In [257]:
mse = mean_squared_error(Y_test, reg.predict(X_test))

In [258]:
rmse=math.sqrt(mse)
rmse

0.1838991189678796

In [259]:
mean_absolute_error(Y_test, reg.predict(X_test))

0.15155609682904309